.home {
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-grow: 1;
	background: gray;
	justify-content: center;
	align-items: center;

	font-size: 10rem;
	color: #ddd;
	cursor: pointer;

	user-select: none;
}

.home img {
	width: 32rem;
	transition: all 0.3s ease;
}

.icon-paused {
	opacity: 0.3;
	filter: grayscale(100%);
}

.icon-playing {
	filter: grayscale(100%);
}
